php_flag authmail.debug Off
php_value authmail.port 587
php_value authmail.address nome@dominio.com.br
php_value authmail.smtp_account contato=dominio.com.br
php_value authmail.smtp smtp.dominio.com.
php_value authmail.password '' 
