php_flag authmail.debug Off
php_value authmail.port 587
php_value authmail.address contato@carnavalnaindra.com.br
php_value authmail.smtp_account contato=carnavalnaindra.com.br
php_value authmail.smtp smtp.carnavalnaindra.com.br
php_value authmail.password 'ContatoCarnaval@2017' 